:root {
  --primary-color: #5c30ff;
  --hover-primary-color: #8664ff;
  --light-color: #e4ddff;
  --success-color: #b8ce52;
  --error-color: #e63c25;
  --red-color: #ff1e00;
  --warning-color: #f6bc3f;
  --warning-color_dark: #c49631;
  --favorite-color: #ffab0e;
  --link-color: #2f54eb;
  --primary-backdrop-color: #5d30ff63;
  --table-row-accent-bg: #c0a9ff;
}
