.join-with-code-window {
  &__btn-wrapper {
    & .ant-form-item-control-input-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__submit-btn {
    width: 200px;
  }
}
