#полный url, по которому frontend обращайтеся к backend в запросах
VITE_APP_BASE_API_URL=https://api.hse-eduplay.ru/

#полный url, по которому доступно развёрнутое frontend-приложение (необходимо для SEO)
VITE_APP_BASE_URL=https://hse-eduplay.ru/
#boolean значение о включении режима мокирования запросов (используется только в dev версии)
VITE_ENABLE_MSW=false
#полный url, по которому frontend обращайтеся к backend для получения загруженных файлов
VITE_FILE_BASE_URL=https://files.hse-eduplay.ru/eduplay-bucket/uploads/