.end-game-content {
  margin-top: 25dvh;
  height: calc(100dvh - 15px);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    text-align: center;
    color: white !important;

    &-congrats {
      margin-top: 20px !important;
    }
  }

  &__rate-block,
  &__navigate-btn {
    margin-top: 30px;
    overflow: hidden;
  }
}

.root-layout_on-end-game-stage {
  transition: background-color ease-in-out 1s;
  background-color: var(--primary-color);
}
