.stats-page {
  &-header {
    &__icons-wrapper {
      display: flex;
      align-items: center;
    }

    &__title {
      color: white !important;
    }

    &__back-icon {
      height: 30px;
      width: 32px;
      color: white;
    }

    &__content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__logo {
      width: 100px;
    }
  }

  &__main {
    height: calc(100dvh - 15px - 80px);
    padding-bottom: 30px;
    overflow-y: auto;
  }
}
