.auth-page {
  height: calc(100dvh - 15px);
  padding-inline: 5dvw;
  padding-top: 5dvh;
  display: flex;
  justify-content: center;

  &__content-wrapper {
    flex-grow: 1;
    background-color: white;
    border-radius: 10px;
    max-width: 500px;
    height: fit-content;
  }

  &__form-wrapper {
    padding-inline: 15px;
    padding-bottom: 5px;
  }

  &__segmented {
    &-root {
      height: 60px;
      margin-bottom: 20px;
    }

    &-label {
      display: grid;
      height: 100%;
      place-items: center;
      text-align: center;
      font-weight: 600;
      font-size: 20px;
    }
  }
}

.root-layout_on-auth-page {
  background-color: var(--primary-color);
}
