.auth-page {
  height: calc(100dvh - 15px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 3dvh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    display: grid;
    place-items: center;
    width: 100%;
  }

  &__title {
    font-size: 30px !important;
    text-align: center;
    color: white !important;
  }

  &__description {
    color: white;
    text-align: center;
  }

  &__content-wrapper {
    flex-grow: 0;
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    height: 400px;
    transition: height ease-in-out 0.5s;
    margin-bottom: 100px;

    &_register {
      height: 500px;
    }
  }

  &__form-wrapper {
    position: relative;
    padding-inline: 15px;
    padding-bottom: 5px;

    & > div {
      position: absolute;
      width: calc(100% - 30px);
      flex-shrink: 0;
    }
  }

  &__segmented {
    &-root {
      height: 60px;
      margin-bottom: 20px;
    }

    &-label {
      display: grid;
      height: 100%;
      place-items: center;
      text-align: center;
      font-weight: 600;
      font-size: 20px;
    }
  }
}

.root-layout_on-auth-page {
  background-color: var(--primary-color);
}
