.edit-block-window {
  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }

  &__body {
    padding: 10px;
  }

  &__name-input {
    text-align: center;
    font-weight: 600;
  }

  &__order {
    font-weight: 600;
    position: absolute;
    top: -15px;
    left: -10px;
  }

  &__settings-btn {
    color: var(--primary-color);
    width: 45px;
    height: 45px;
    padding: 5px;
    flex-shrink: 0;
  }
}
