.option-item {
  display: flex;

  &__right-answer-toggle {
    width: 45px;
    height: 45px;
    background-color: transparent !important;

    &_right {
      background-color: green !important;
    }

    &:hover {
      background-color: transparent !important;
    }
  }

  &__delete-btn {
    height: 45px;
    width: 45px;
    background-color: var(--red-color);
    color: white;
    padding: 5px;
    flex-shrink: 0;
  }
}
