.event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__main-data-wrapper {
    display: flex;
    justify-content: start;
    gap: 10px;
  }

  &__cover {
    &-img {
      width: 100px;
      aspect-ratio: 1/1;
      border-radius: 5px;
      object-fit: cover;
    }
    &-upload {
      padding-top: 10px;
      &-btn {
        height: 50px;
        width: 80px;
        background-color: transparent;
        white-space: normal;
      }
    }
  }

  &__label {
    padding-bottom: 0px;
  }

  &__private {
    &-form-item {
      width: 100%;
    }
    &-wrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 5px;
    }
  }

  &__remove-tag-btn {
    font-size: 20px;
    width: 40px;
    align-items: center;
    justify-content: center;
    min-height: 40px;

    & > svg {
      width: 35px;
      height: 35px;
    }
  }

  &__tag-list {
    &-option {
      text-wrap: wrap;
    }
  }

  &__select-tag {
    & .ant-select-selection-item-content {
      display: flex;
      align-items: center;
      text-overflow: unset !important;
      white-space: wrap !important;
    }

    &-wrapper {
      width: 100%;
    }
  }
}
