.delete-condition-btn {
  height: 45px;
  width: 45px;
  padding: 5px;
  color: white;
  background-color: var(--red-color);

  &:hover {
    background-color: white !important;
    color: var(--red-color) !important;
    border: 1px solid var(--red-color) !important;
  }
}
