.toggle-favorite-event-btn {
  height: 45px;
  width: 45px;
  padding: 5px;
  color: gray;

  &_active {
    color: var(--favorite-color);

    &:hover {
      color: var(--favorite-color) !important;
    }
  }
  &__icon-wrapper {
    height: 45px;
    width: 45px;
  }
}
