.toggle-favorite-event-btn {
  height: 45px !important;
  width: 45px !important;
  flex-shrink: 0;
  color: gray;

  & .ant-btn-loading-icon {
    scale: 2;
  }
  & svg {
    height: 35px;
    width: 35px;
  }

  &_active {
    color: var(--favorite-color);

    &:hover {
      color: var(--favorite-color) !important;
    }
  }
}
