.user-info {
  &__header {
    background-color: var(--primary-color--light);
  }
  &__title {
    color: white;
  }
  &__icon {
    color: white;
  }
}

:where(.css-dev-only-do-not-override-ch9ese).ant-collapse
  > .ant-collapse-item:first-child
  > .ant-collapse-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
