.edit-event-settings-window {
  &__delete-btn {
    position: absolute;
    left: -20px;
    top: -25px;
    height: 45px;
    width: 45px;
    padding: 5px;
    background-color: var(--red-color);
    color: white;
  }

  &__form-wrapper {
    padding-top: 30px;
  }

  &__form-item {
    width: 100%;
  }

  &__collaborator {
    &-item {
      display: flex;
      width: 100%;
      flex-direction: row !important;

      & .ant-form-item-row {
        width: 100%;
      }
      & .ant-form-item-control-input-content {
        display: flex;
        gap: 10px;
      }
    }
  }
}
