.profile-page {
  &__avatar-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  &__avatar-img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 30dvw;
    border-radius: 50%;
  }

  &__upload {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .ant-upload {
      display: flex;
      justify-content: center;
    }
  }
}
