.forgot-password-page {
  height: calc(100dvh - 15px);
  padding-inline: 5dvw;
  padding-top: 10dvh;
  display: flex;
  justify-content: center;

  &__title {
    text-align: center;
  }
  &__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    flex-grow: 1;
    background-color: white;
    border-radius: 10px;
    max-width: 500px;
    padding-inline: 20px;
    padding-block: 15px;
  }

  &__submit-btn {
    min-width: 150px;
  }
}

.root-layout_on-forgot-password-page {
  background-color: var(--primary-color);
}
