.task-view {
  margin-top: 10px;
  &__file-list {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__title {
    text-align: center;
  }

  &__description {
    white-space: pre-line;
  }

  &__timer-text {
    margin-top: 10px;
    font-variant-numeric: tabular-nums;

    &_running-out {
      color: var(--red-color);
      font-weight: 600;
    }
  }
}
