.home-page {
  &__actions-btns {
    width: 50px;
    height: 50px;

    & > span {
      width: 30px;
      height: 30px;
    }
  }
  &__my-events-btn {
    color: black;
    width: 45px;
    height: 45px;
    & > span {
      width: 30px;
      height: 30px;
    }
  }
  &__create-event-btn {
    width: 45px;
    height: 45px;
    padding: 5px;
    & > span {
      width: 30px;
      height: 30px;
    }
  }
}
