.float-buttons-group {
  &__actions-btn {
    position: fixed;
    z-index: 1000;
    width: 60px !important;
    height: 60px !important;
    color: var(--primary-color);

    & > span {
      width: 30px;
      height: 30px;
    }
  }

  &__button-wrapper {
    position: fixed;
    height: fit-content;
    z-index: 999;
  }
  &__my-events-btn,
  &__create-event-btn {
    color: var(--primary-color);
    width: 60px !important;
    height: 60px;
    & > span {
      width: 30px;
      height: 30px;
    }
  }
}
