.notifications-page-header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;

  &__text {
    color: white !important;
    font-size: 19px !important;
  }

  &__logo {
    width: 130px;
  }
  &__buttons-wrapper {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 20px;
    justify-content: space-between;
    flex-shrink: 0;
  }
}
