.block-settings-form {
  &__switch-wrapper .ant-form-item-control-input-content {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__submit-btn {
    &-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__error-text,
  &__success-text {
    text-align: center;
    margin-bottom: 0px !important;
  }
}
