.home-page {
  &__events-list {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    &-wrapper {
      padding-bottom: 80px;
    }
  }

  &__spin-wrapper {
    display: flex;
    padding-block: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
