.footer {
  height: 65px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: darkblue;
  border-radius: 5px;

  &__icon-btn {
    width: 25%;
    color: green;
    height: 45px;
    padding-block: 10px;

    &_active {
      color: red;
    }
  }
  &__icon-wrapper {
    width: 30px;
    height: 30px;
  }
}
