.home-page {
  position: relative;

  &__participate-btn {
    font-size: 17px;
    font-weight: 600;
    height: 45px;
    &-wrapper {
      margin-left: auto;
      width: 230px;
      margin-bottom: 10px;
    }
  }
}
